@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: "Albertus";
    src: url("/fonts/AlbertusMTStd.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@layer theme, base, components, utilities;
@import "tailwindcss";
@import "@heroui/styles";

:root {
    --font-mono: 'Fira Code', monospace;
    --font-sans: 'Fira Code', monospace;
    --font-serif: 'Alegreya', serif;
}

/* Define in both light and dark themes */
:root,
[data-theme="light"] {
    --link-foreground: oklch(70.38% 0.123 182.50);
    --link-hover: oklch(91% 0.096 180.426);
    --link-hover-foreground: oklch(0.6549 0.2613 356.94);
    --table-head: oklch(97% 0.001 106.424);
    --table-row-hover: oklch(97% 0.001 106.424);
    --text-secondary-foreground: oklch(70.4% 0.04 256.788);

    --data-table-line: oklch(96.8% 0.007 247.896);
    --uri-prefix: #6D29D9;
    --uri-column: #6D29D9;
    --uri-localpart: #A68BFA;
}

.dark,
[data-theme="dark"] {}

/* Make the colors available to Tailwind */
@theme inline {
    --color-link-foreground: var(--link-foreground);
    --color-link-hover: var(--link-hover);
    --color-link-hover-foreground: var(--link-hover-foreground);
    --color-table-head: var(--table-head);
    --color-table-row-hover: var(--table-row-hover);
    --color-text-secondary-foreground: var(--text-secondary-foreground);

    --color-data-table-line: var(--data-table-line);
    --color-uri-prefix: var(--uri-prefix);
    --color-uri-column: var(--uri-column);
    --color-uri-localpart: var(--uri-localpart);

}

html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html * {
    cursor: default;
    font-variant-ligatures: no-common-ligatures common-ligatures discretionary-ligatures historical-ligatures contextual;
}

@import "./tei-mercure-galant.css";

@layer components {
    .tooltip {}

    .tooltip__trigger {
        /* Sinon le trigger prend toute la largeur de son parent et non la taille de son contenu */
        @apply w-fit;
    }
}