@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Moder-DOS-437";
    src: url("https://db.onlinewebfonts.com/t/b03166189955cd59e130b9415e0c791e.eot");
    src: url("https://db.onlinewebfonts.com/t/b03166189955cd59e130b9415e0c791e.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/b03166189955cd59e130b9415e0c791e.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/b03166189955cd59e130b9415e0c791e.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/b03166189955cd59e130b9415e0c791e.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/b03166189955cd59e130b9415e0c791e.svg#Moder DOS 437")format("svg");
}

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@plugin "../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@font-face {
    font-family: "Albertus";
    src: url("/fonts/AlbertusMTStd.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-sans: "Fira Code", sans-serif;
    --font-serif: "Alegreya", serif;
    --font-mono: "Fira Code", monospace;
}

@layer base {
    html {
        cursor: default;
    }
}

html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html * {
    font-variant-ligatures: no-common-ligatures common-ligatures discretionary-ligatures historical-ligatures contextual;
}

@import "./tei-mercure-galant.css";