@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: "Albertus";
    src: url("/fonts/AlbertusMTStd.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@layer theme, base, components, utilities;
@import "tailwindcss";
@import "@heroui/styles";

:root {
    --font-mono: 'Fira Code', monospace;
    --font-sans: 'Fira Code', monospace;
    --font-serif: 'Alegreya', serif;
}

/* Define in both light and dark themes */
:root,
[data-theme="light"] {
    --link-foreground: #14B8A6;
    --link-hover-foreground: #FF1493;
}

.dark,
[data-theme="dark"] {
    --link-foreground: #14B8A6;
    --link-hover-foreground: #FF1493;
}

/* Make the colors available to Tailwind */
@theme inline {
    --color-link-foreground: var(--link-foreground);
    --color-link-hover-foreground: var(--link-hover-foreground);
}

html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html * {
    cursor: default;
    font-variant-ligatures: no-common-ligatures common-ligatures discretionary-ligatures historical-ligatures contextual;
}

@import "./tei-mercure-galant.css";