.tei {
    display: grid;
    font-family: 'Lato';
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tei-head {
    font-weight: bolder !important;
    font-size: x-large;
    margin-bottom: 1em;
}

.tei-p {
    text-align: justify;
}

.tei-hi,
.tei-emph {
    font-style: italic;
}

.tei-quote {
    padding: 1em 0;
}

.tei-note-editor,
.tei-bibl {
    color: oklch(62.3% 0.214 259.815);
}

.tei-note {
    clear: right;
    float: right;
    font-size: 82%;
    text-align: left;
    line-height: 1.25em;
    margin-right: -50%;
    max-height: 1.75em;
    padding: 0.25em;
    text-overflow: ellipsis;
    width: 45%;

    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.tei-note:hover {
    max-height: none;
}