.tei {
    display: grid;
    font-family: 'Lato';
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tei-head {
    font-weight: bolder !important;
    font-size: x-large;
    margin-bottom: 1em;
}

.tei-p {
    text-align: justify;
}

.tei-hi,
.tei-emph {
    font-style: italic;
}

.tei-quote {
    padding: 1em 0;
}

/* div.tei-bibl {
    background-color: deeppink;
    width: 20%;
    float: right;
    clear: right;
    margin-right: -33%;
} */

.tei-bibl {
    color: dodgerblue;
}

.tei-note-author::before,
.tei-note-editor::before {
    content: '📜 ';
}

.tei-note-author,
.tei-note-editor {
    border: 1px solid lightgray;
    clear: right;
    float: right;
    font-size: 82%;
    text-align: left;
    line-height: 1.25em;
    margin-right: -50%;
    max-height: 1.75em;
    overflow: hidden;
    padding: 0.25em;
    text-overflow: ellipsis;
    width: 45%;
}

.tei-note-author:hover,
.tei-note-editor:hover {
    max-height: none;
}