.tei {
    display: grid;
    font-family: 'Lato';
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tei-head {
    font-weight: bolder !important;
    font-size: x-large;
    margin-bottom: 1em;
}

.tei-p {
    text-align: justify;
}

.tei-hi,
.tei-emph {
    font-style: italic;
}

.tei-quote {
    padding: 1em 0;
}

.tei-note-editor,
.tei-bibl,
.tei-note-wrapper::after {
    color: oklch(62.3% 0.214 259.815);
}

.tei-note {
    font-size: 82%;
    line-height: 1.25em;
    padding: 0.25em;
    text-align: left;
    text-overflow: ellipsis;

    max-height: 1.75em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tei-note:hover {
    max-height: none;
}

.tei-note-wrapper {
    clear: right;
    float: right;
    margin-right: -50%;
    width: 45%;

    position: relative;
}

.tei-note-wrapper:not(:hover)::after {
    content: '🖱️⤴︎';
    color: lightgray;
    font-size: 1.25rem;
    font-style: normal;
    left: 0;
    position: absolute;
    pointer-events: none;
}

.tei-stage,
.tei-speaker {
    color: gray;
    font-style: italic;
}

.tei-stage {
    margin: 0.5rem 0;
}