@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "./tei.css";
@import "./fonts.css";

@import "tailwindcss";

@theme {
  --font-sans: "Fira Code";
  --font-serif: "Alegreya";
  --font-mono: "Fira Code";

  --background: "#FFFFFF";
  --background_negative: "#000000";
  --button: colors.fuchsia['500'];
  --soft_bg: colors.stone['50'];
  --data_table_border: colors.stone['200'];
  --data_table_bg: colors.stone['50'];
  --dark_border: colors.stone['300'];
  --deeppink: "#FF1493";
  --focus: colors.amber['300'];
  --foreground: "#000000";
  --foreground_negative: "#FFFFFF";
  --link: "#14B8A6";
  --link_negative: "#00FFFF";
  --primary: colors.teal;
  --prefixed_uri_prefix_lightbg: colors.violet['700'];
  --prefixed_uri_local_name_lightbg: colors.violet['400'];
  --prefixed_uri_prefix_darkbg: colors.violet['500'];
  --prefixed_uri_local_name_darkbg: colors.violet['300'];
  --section_bg_gradient_from: colors.stone['950'];
  --section_bg_gradient_to: colors.stone['500'];
  --row_hover: colors.gray[100];
  --light_text: colors.stone['400'];
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  cursor: default;
}

html * {
  font-variant-ligatures: no-common-ligatures common-ligatures discretionary-ligatures historical-ligatures contextual;
}

a {
  cursor: default !important;
  transition: all 0.5s ease 0s !important;
}

a:hover {
  transition: all 0s ease 0s !important;
}

.accordion * {
  cursor: default !important;
}

@layer base {
  a {
    @reference text-link hover:text-deeppink; /* amleth @apply */
  }
}

@layer components {
  .section-bg {
    @reference bg-black text-white; /* amleth @apply */
  }

  .section-font {
    @reference font-["Albertus"] font-[350] font-bold uppercase; /* amleth @apply */
  }

  .section-font-predicate {
    @reference font-mono lowercase; /* amleth @apply */
  }

  .linked_entity_icon {
    @reference text-stone-400; /* amleth @apply */
  }

  .section-divider {
    @reference bg-gradient-to-r from-purple-900 to-rose-600 w-full h-[1px]; /* amleth @apply */
  }

  .lang {
    @reference text-stone-400; /* amleth @apply */
  }

  .isa {
    @reference font-serif text-light_text; /* amleth @apply */
  }

  .icon {
    @reference text-deeppink; /* amleth @apply */
  }
}

.sectionTitleIcon svg {
  fill: aquamarine;
  stroke: aquamarine;
}
