/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import './tei.css';
@import './fonts.css';
/* @import './font.firacode.css' */

/* latin */
@font-face {
  font-family: 'IMFellEnglish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/imfellenglish/v14/Ktk1ALSLW8zDe0rthJysWrnLsAzHEKOYd4xI5g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  cursor: default;
}

html * {
  font-variant-ligatures: no-common-ligatures common-ligatures discretionary-ligatures historical-ligatures contextual;
}

a {
  cursor: default !important;
  transition: all 0.5s ease 0s !important;
}

a:hover {
  transition: all 0s ease 0s !important;
}

.accordion * {
  cursor: default !important;
}

@layer base {
  a {
    @apply text-link hover:text-deeppink;
  }
}

@layer components {
  .section-bg {
    @apply bg-black text-white;
  }

  .section-font {
    @apply font-['Albertus'] font-[350] font-bold uppercase;
  }

  .section-font-predicate {
    @apply font-mono lowercase;
  }

  .linked_entity_icon {
    @apply text-stone-400;
  }

  .section-divider {
    @apply bg-gradient-to-r from-purple-900 to-rose-600 w-full h-[1px];
  }

  .lang {
    @apply text-stone-400;
  }

  .isa {
    @apply font-serif text-stone-400 italic;
  }

  .icon {
    @apply text-deeppink;
  }
}

.sectionTitleIcon svg {
  fill: aquamarine;
  stroke: aquamarine;
}