@layer components {
  .tei {
    @reference font-["IM_Fell_English"] max-w-xl /* amleth @apply */
  }

  .tei h1 {
    font-weight: bolder !important;
    font-size: x-large;
    margin-bottom: 1em;
  }

  .tei p {
    text-align: justify;
  }

  .tei hi,
  .tei emph {
    font-style: italic;
  }

  .tei div.quote {
    margin: 1em 4em;
  }
}